.container-general {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-motion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title-pass {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tittle {
  font-family: Nunito Sans, sans-serif;
  font-size: 25px;
}

.input-motion {
  width: 93%;
  height: 30px;
  border-radius: 5px;
  border: 1.8px solid rgb(0, 164, 228);
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.input-motion:focus {
  width: 93%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(0, 164, 228);
  outline: none;
  padding-left: 10px;
}

.input-motion:hover {
  width: 93%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(0, 164, 228);
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.button-motion {
  width: 90%;
  margin-top: 10px;
}

.labels {
  font-family: Nunito Sans, sans-serif;
}
